<%#= image_tag 'Red_Wine.jpg', class: 'background_image' %>
<% intro1 = "I'm a programmer that has basic and solid knowledge of Ruby
  on Rails framework for web developing. I have previous experience completing two
  courses in Udemy that included normal backend content and another to learn
  Behavior Driven Development (BDD) to have good practices testing features.
  I also read the " %>
<% intro2 = " from Michael Hartl. I have enough understanding of SQL language, experience with
  PostgreSQL, MySQL and SQLite. Other known languages: Java, C, Pascal." %>

<% what_I_do = "I'm specializing in developing web pages with the Ruby on Rails
  framework. I follow the Don't Repeat Yourself (DRY) phrase to avoid repeating
  code. I also work using RSpec, Capybara and Guard for test development. I always
  like to learn more, so I'm not limited to what I know now. I learned BDD to
  improve my backend skills, now I'm learning Angular 4 to do the same with the
  frontend ones. To see a little of what I can do, see my portfolio section." %>
<% what_I_do2 = "I can make desktop apps with Java and C too." %>

<div class="background-image">
  <div class="row">
    <div class="col-xs-12 background-transparent" align="center">
      <h1 class="front-text">
        Ruby on Rails Web Developer
      </h1>
      <div class="row">
        <div class="col-xs-3">
          <%#= image_tag 'ruby_on_rails.png', class: "left-rubyrails" %>
        </div>
        <div class="col-xs-6">
          <%= image_tag 'ruby-on-rails.png', class: "center-rubyrails" %>
          <hr class="thick">
        </div>
        <div class="col-xs-3">
          <%#= image_tag 'ruby_on_rails.png', class: "right-rubyrails" %>
        </div>
      </div>
      <h1>
        <span class="front-text">Jesús Di Bari</span>
      </h1>
    </div>
  </div>
  
  <div class="row two-boxes">
    <div class="col-xs-1">
      <button type="button" class="btn btn-danger btn-sm me-button">ME</button>
    </div>
    
    <div class="col-xs-3">
      <div class="left-box">
        <div class="inner-left-box">
          <h1 align="center" class="left-box-text">
            WHO &nbsp;I &nbsp;AM
          </h1>
        </div>
      </div>
    </div>
    
    <div class="col-xs-2">
      <button type="button" class="btn btn-danger btn-lg left-button">Let's See!</button>
    </div>
    
    <div class="col-xs-2">
      <button type="button" class="btn btn-danger btn-lg right-button">Check it out!</button>
    </div>
    
    <div class="col-xs-3">
      <div class="right-box">
        <div class="inner-right-box">
          <h1 align="center" class="right-box-text">
            WHAT &nbsp;I &nbsp;DO
          </h1>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row two-contents">
    <div class="col-xs-3 profile" style="position: absolute;">
      <div class="parent">
        <div class="child"></div>
        <h3>Contact:</h3>
        <p>
          E-Mail: iijbari@gmail.com<br>
          Facebook: facebook.com/The.Glitcher<br>
          Twitter: @JesusDiByte<br>
        </p>
      </div>
    </div>
    
    <div class="col-xs-offset-3 col-xs-6 left-content">
      <div align="justify">
        <h3>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <%= intro1 %>
          <%= link_to "Rails Tutorial online book", 'https://www.railstutorial.org/', target: :_blank %>
          <%= intro2 %>
        </h3>
      </div>
    </div>
    
    <div class="col-xs-offset-3 col-xs-6 right-content">
      <div align="justify">
        <h3>
          <%= what_I_do %>
          <br><br>
          <%= what_I_do2 %>
        </h3>
      </div>
    </div>
  </div><!--.row-->
</div><!--.background-image-->

<div class="row tools-section">
<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <h1 align="center" class="tools-title">
        THIS IS WHAT I HAVE USED WHEN WORKING ON PROJECTS
      </h1>
    </div>
  </div>
  
  <div align="center" class="row">
    <div class="col-xs-3">
      <h1>GIT</h1>
    </div>
    <div class="col-xs-3">
      <h1>CSS FRAMEWORKS</h1>
    </div>
    <div class="col-xs-3">
      <h1>DATA BASES</h1>
    </div>
    <div class="col-xs-3">
      <h1>APIS</h1>
    </div>
  </div>
  
  <div class="row tools-row">
    <div class="col-xs-3 git">
      <%= image_tag 'tools-section/bitbucket.png' %>
      <%= image_tag 'tools-section/github.png' %>
    </div>
    <div class="col-xs-3 cssf">
      <%= image_tag 'tools-section/bootstrap.png' %>
      <%= image_tag 'tools-section/foundation.png' %>
      <%#= image_tag 'tools-section/materialize.png' %>
    </div>
    <div class="col-xs-3 db">
      <%= image_tag 'tools-section/postgresql.png' %>
      <%= image_tag 'tools-section/mysql.png' %>
      <%= image_tag 'tools-section/sqlite.png' %>
    </div>
    <div class="col-xs-3 api">
      <%= image_tag 'tools-section/sendgrid.png' %>
      <%= image_tag 'tools-section/stripe.png' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <h2 align="center">OTHER TOOLS I HAVE WORKED WITH:</h2>
    </div>
  </div>
  
  <div align="center" class="row secondary-tools-row">
    <div class="col-xs-2">
      <%= image_tag 'tools-section/html5.png' %>
    </div>
    <div class="col-xs-2">
      <%= image_tag 'tools-section/css3.png', style: "width: 131px;" %>
    </div>
    <div class="col-xs-2">
      <%= image_tag 'tools-section/javascript.png' %>
    </div>
    <div class="col-xs-2">
      <%= image_tag 'tools-section/jquery.png', style: "position: relative; top: 75px;" %>
    </div>
    <div class="col-xs-2">
      <%= image_tag 'tools-section/heroku.png' %>
    </div>
    <div class="col-xs-2">
      <%= image_tag 'tools-section/ruby.png' %>
      <%= image_tag 'tools-section/rails.png' %>
    </div>
  </div>
</div><!--.col-xs-12-->
</div><!--.tools-section-->

<div class="background-image2">
<div class="row portfolio-section">
<div class="col-xs-12">
  <div class="row">
    <div class="col xs 12">
      <h1 align="center">
        <span class="front-text">MY PORTFOLIO</span>
      </h1>
    </div>
  </div>
  
  <div class="row">
    <div align="center" class="col-xs-4" style="color: white;">
      <%#= link_to image_tag("rails.jpg", style: "width: 100%;"), image_tag("rails.jpg") %>
      <h2>PROJECT MANAGEMENT</h2>
      <div class="parent-work">
        <div class="child-work child-work-overlay work3">
          <span class="span-work">
            <%= link_to "Go to project page", 'https://saas-app-dibari.herokuapp.com/',
              target: :_blank %>
          </span>
        </div>
      </div>
      
      <h2>BLOG</h2>
      <div class="parent-work">
        <div class="child-work child-work-overlay work5">
          <span class="span-work">
            <%= link_to "Go to project page", 'https://alpha-blog-di-bari.herokuapp.com/articles',
              target: :_blank %>
          </span>
        </div>
      </div>
    </div>
    
    <div align="center" class="col-xs-4" style="color: white;">
      <h2>FINANCE TRACKER</h2>
      <div class="parent-work">
        <div class="child-work child-work-overlay work2">
          <span class="span-work">
            <%= link_to "Go to project page", 'https://finance-tracker-di-bari.herokuapp.com',
              target: :_blank %>
          </span>
        </div>
      </div>
      
      <h2>BANK MANAGEMENT</h2>
      <div class="parent-work">
        <div class="child-work work4"></div>
      </div>
    </div>
    
    <div align="center" class="col-xs-4" style="color: white;">
      <h2>MUNDO GAMES</h2>
      <div class="parent-work">
        <div class="child-work child-work-overlay work1">
          <span class="span-work">
            <%= link_to "Go to project page", 'https://mundo-games.herokuapp.com/products',
              target: :_blank %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>